extends layout 

block content 
    h1= title
    form(method='POST', action='/article')
        #form-group
            label Name 
            input.form-control(name='name', type='text')
        br
        //- #form-group
        //-     label Author 
        //-     input.form-control(name='author', type='text')
        //- br
        #form-group
            label Description 
            input.form-control(name='decription', type='text')
        br
        input.btn.btn-primary(type='submit', value='Add')
        ="  "
        a.btn.btn-info(href='/') Cancel