extends layout 

block content 
    h1= article.name 
    //- h5 Written By #{article.author} 
    h5 Written By #{author.name} 
    p= article.decription
    br
    if user
        if user._id == author.id
            a.btn.btn-dark(href='/article/edit/' + article._id) Edit
            ="  "
            button.btn.btn-danger(onClick="dele('"+article._id+"')") Delete