extends layout 

block content 
    h1= title
    form(method='POST', action='/article/edit/' + article._id)
        #form-group
            label Name 
            input.form-control(name='name', type='text', value=article.name)
        br
        //- #form-group
        //-     label Author 
        //-     input.form-control(name='author', type='text', value=article.author)
        //- br
        #form-group
            label Description 
            textarea.form-control(name='decription')= article.decription
        br
        a.btn.btn-info(href='/article/' + article._id) Cancel
        ="  "
        input.btn.btn-primary(type='submit', value='Update')