doctype html
html(lang="en")
    head
        title Articles
        link(rel='stylesheet', href='/bootstrap/bootstrap.css')
        script(type='text/javascript').
            async function dele(id) {
                if (confirm('Are you sure you want to delete this record')) {
                    const response = await fetch('/article/delete/' + id, {method: 'DELETE'});
                    const myJson = await response.json();
                    if (myJson.success) {
                        location.replace('/');
                    } else {
                        prompt('Error in deleting record : ', myJson.message);
                    }
                }
            }
    body 
        nav.navbar.navbar-expand.navbar-dark.bg-dark(aria-label='Second navbar example')
            .container-fluid
                a.navbar-brand(href='/') ArticlesWorld
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExample02' aria-controls='navbarsExample02' aria-expanded='false' aria-label='Toggle navigation')
                //- span.navbar-toggler-icon
                #navbarsExample02.collapse.navbar-collapse
                ul.navbar-nav.me-auto
                    li.nav-item
                    if user 
                        a.nav-link.active(aria-current='page' href='/add') Add Article
                        a.nav-link.active(aria-current='page' href='/user/logout') Logout
                    else
                        a.nav-link.active(aria-current='page' href='/user/register') Register
                        a.nav-link.active(aria-current='page' href='/user/login') Login
                    li.nav-item
                //-     a.nav-link(href='#') Link
                //- form
                //-     input.form-control(type='text' placeholder='Search' aria-label='Search')
        .container 
            br
            if errors 
                each error, i in errors 
                    div(class="alert alert-danger") #{error.msg} : #{error.param}
            block content 
            br
            hr
            footer 
                p Copyright &copy; 2021