extends layout 

block content 
    if message.length > 0
        div(class="alert alert-danger") #{message}
    //- .error #{message}
    h1 Login
    form(method='POST', action='/user/login')
        #form-group
            label Username 
            input.form-control(name='username', type='text')
        br
        #form-group
            label Password 
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='submit', value='Login')